html {
    overflow-y:scroll;
}

body {
    background: #262324 url("/media/img/main_bg.jpg") top repeat-x;
    color: #dddcdc;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 1.5em;
	margin: 0;
	padding: 0;
    text-align: justify;
}

h1 {
    border-bottom: 1px solid #e8e8e8;
    font-family: Verdana, "Times New Roman", Times, serif;
    font-size: 18px;
    font-weight: normal;
    line-height: normal;
    margin: 0 0 15px 0;
    padding: 0 0 8px 0;
}

.clear {
    clear: both; 
    /*margin-top: -15px;*/
}

a:link, a:visited {
    color: #b7bd19;
    text-decoration: none;
} 

a:active, a:hover {
    color: #b7bd19;
    text-decoration: underline;
}

img {
    border: none;
    display: block;
    margin: 0;
    padding: 0;
}

#wrapper {
    margin: 0 auto;
	width: 960px;
}

/* menu */
#menu {
    background: url("/media/img/menu_bg.jpg") right no-repeat;
	clear: both;
    height: 45px;
    margin: 0 auto;
    margin-top: 30px;
	position: relative;
	width: 920px;
}

#menu ul {
    list-style: none;
    margin: 0;
	padding: 0 0 0 10px;
}

#menu ul li {
	float: left;
	padding-right: 5px;
}

#menu li a {
    color: #000;
    display: block;
	float: left;
	font-size: 12px;
	height: 45px;
	line-height: 45px;
	padding: 0 0 0 8px;
	text-align: center;
}

#menu  li a .item {
    display: block;
	float: left;
    font-weight: bold;
	padding: 4px 24px 0 16px;
}

#menu  li.current a, #menu  li a:hover {
    background: url("/media/img/menu_hover_bg_left.jpg") left top no-repeat; 
	color: #fff;
	text-decoration: none;
}

#menu  .homeBut img  {
    border: none;
    float: left;
    margin: 15px 15px 0 15px;
}

#menu  li.current a .item, #menu li a:hover .item {
    background: url("/media/img/menu_hover_bg.jpg") right top no-repeat;
	color: #fff;
	padding-top: 0px;
	text-decoration: none;
}

/* end of menu */

/* header */
#header {
    background: #b7bd19 url("/media/img/header.jpg") top left no-repeat;
    clear: both;
    height: 245px;
    width: 960px;
}

#header .intro {
	color: #333;
	font-size: 13px;
    line-height: 20px;
    padding: 130px 0px 0px 70px;
    text-align: left;
    width: 400px;
}

#header a {
	color: #000;
}
/* end of header */

p.pagination {
    text-align: center;
    padding-top: 20px;
}

.pagination strong {
    background-color: #272324;
    border: solid 1px #171717;
    color: #FFFFFF;
    font-weight: bold;
    padding: 3px 7px;
}
.pagination a {    
    color: #836a57;
}
/* end of pagination */


/* content */
#proContent {
    background: url("/media/img/pro_content_bg.jpg") no-repeat;
    display: block;
    height: 20px;
    margin: 0;
    padding: 0;
    width: 960px;
}

#container {
    display: block;
    margin: 0 auto;
    width: 940px;
}

#content {
    display: block;
    float: left;
    width: 670px;
}

#contentMain {
    display: block;
    width: 960px;
}

#contentTop {
	background: url("/media/img/content_top_bg.jpg") top repeat-y;
    display: block;
    height: 7px;
    margin-top: 10px;
    width: 670px;
}

#contentCenter {
	background: url("/media/img/content_bg.jpg") top repeat-y;
    display: block;
    margin: 0;
    padding: 10px 0 10px 0;
    width: 670px;
}

#contentBottom {
	background: url("/media/img/content_bottom_bg.jpg") top repeat-y;
    display: block;
    height: 7px;
    margin-bottom: 10px;
    width: 670px;
}

#sidebar {
    display: block;
    float: right;
    width: 240px;
}

#sidebarTop {
    background: url("/media/img/sidebar_top_bg.jpg") top repeat-y;
    display: block;
    height: 7px;
    margin-top: 10px;
    width: 240px;
}

#sidebarCenter {
	background: url("/media/img/sidebar_bg.jpg") top repeat-y;
    display: block;
    margin: 0;
    padding: 10px 0 10px 0;
    width: 240px;
}

#sidebarBottom {
	background: url("/media/img/sidebar_bottom_bg.jpg") top repeat-y;
    display: block;
    height: 7px;
    margin-bottom: 10px;
    width: 240px;
}

#contentMainTop {
    background: url("/media/img/content_main_top_bg.jpg") top repeat-y;
    display: block;
    height: 7px;
    margin-top: 10px;
    width: 940px;
}

#contentMainCenter {
	background: url("/media/img/content_main_bg.jpg") top repeat-y;
    display: block;
    margin: 0;
    padding: 10px 0 10px 0;
    width: 940px;
}

#contentMainBottom {
	background: url("/media/img/content_main_bottom_bg.jpg") top repeat-y;
    display: block;
    height: 7px;
    margin-bottom: 10px;
    width: 940px;
}

#banner {
    clear: both;
    display: block;
    width: 960px;
}

#bannerTop {
    background: url("/media/img/content_main_top_bg.jpg") top repeat-y;
    display: block;
    height: 7px;
    margin-top: 10px;
    width: 940px;
}

#bannerCenter {
	background: url("/media/img/content_main_bg.jpg") top repeat-y;
    display: block;
    margin: 0;
    padding: 10px 0 10px 0;
    width: 940px;
}

#bannerBottom {
	background: url("/media/img/content_main_bottom_bg.jpg") top repeat-y;
    display: block;
    height: 7px;
    margin-bottom: 10px;
    width: 940px;
}

#bannerCenter .oneBanner {
    float: left;
    margin-right: 10px;
}

#contentTitle {
	padding: 0 20px 0 20px;
}

#contentText {
	padding: 0 30px 0 30px;
}


/* footer */
#footer {
    background: url("/media/img/footer_bg.jpg") top center no-repeat;
	clear: both;
	color: #999;
	padding: 20px 0px 20px 0;
	text-align: center;
	width: 960px;
}

#footer a {
	color: #fff;
	font-weight: normal;
}
/* end of footer */

/* Для виводу помилок валідації */
.error {
    color: #c00;
    font-size: 11px;
    padding: 0;
    margin: 0 0 5px 0;
    text-align: center;
}

/* Для виводу повідомлень */
.not_error {
    color: #2a9d02;
    font-size: 11px;
    padding: 0;
    margin: 0 0 5px 0;
    text-align: center;
}

.add {
    float: right;
    margin: 0 0px 10px 20px;
}

.add img {
    float: left;
    padding: 2px 5px 0 0;
}

span.author {
    color: #ffffff;
    font-weight: bold;
}